/* место для вашего кода */

/*! */
.header {
width: 1100px;
height: 293px;

font-family: Raleway;
font-weight: 400;
font-size: 18px;
line-height: 24.3px;
letter-spacing: 0%;
color: #000000;

display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;

/*padding-right: 50px;
padding-left: 50px; */
}


 /*блок с ссылками размещаем слева*/
  .header__links-list {
    display: flex; 
    justify-content: space-between;
    /*justify-content: start;*/
    gap: 29px;
    align-items: center;
    padding-top: 136px; /*в макете 133px*/
    padding-bottom: 138px;
    padding-left: 50px;
    padding-right:35.52px;/*в макете 36.52px*/
  }

  .header__links-list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    list-style-type: circle;
    text-underline-offset: 6px;
    }

    /*
    .header__links-list-item_look-lots {
      display: block;
      width: 149;
      height: 21;
      top: 133px;
      left: 148.48px;
    }*/

    /*
    .header__links-list-item_about {
      display: block;
      width: 108;
      height: 21;
      top: 133px;
      left: 331.48px;
    }*/


    .header__links-list-item_active {
      display: block;
      width: 67px;
      height: 21px;
    }

    
/* общие стили ссылок */
.header__menu-link {
  display: block;
  width: 149px;
  height: 21px;
}

  .header__logo {
    padding-top: 93px; /*в макете 92px*/
    padding-bottom: 95px; /*в макете 96px*/
    align-items: center;
    justify-content: center;
    
  }

  .header__logo-image {
    width: 148px;
    height: 105px;
    display: block; 
  }

  /*блок с контактами размещаем справа*/
  .address__header {
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-style: normal;
  list-style: none;
  text-decoration: none;
  
  padding-top: 96.5px;/*в макете 95px*/
  padding-right: 88px;/*в макете 50px*/
  

  max-width: 476px; 
  justify-self: end; /*выравниваем блок внутри колонки*/
 /*padding-left: 193.86px;*/

  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  }

.address__phone {
  display: block;
  padding-top: 95px;
}

.address__email {
  display: block;
}

.address__correspondence {
  display: block;
  padding-bottom: 100px;
}



.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1100px;
  height: 100%; /*min-height: 757px*/
  /*padding-left: 50px;
  padding-right: 50px;*/
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.overlay {
position: absolute;
inset: 0; 
color: #000000;
background-size: cover;
background:rgb(0,0,0,0.6); 
}

.cover__title {
display: flex;
flex-direction: column;
/*flex-wrap: nowrap;*/
/*justify-content: space-between;*/
/*text-align: start;*/
letter-spacing: 0.3em;
font-weight: 700px;
font-size: 100px;
text-transform: uppercase;
color: white;
z-index: 1;
gap: 20px;
padding-top: 165px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 106px;
}

.cover__title_left {
text-align: left;
}

.cover__title_center {
text-align: center;
}

.cover__title_right {
text-align: right;
}

.cover__title_last-letter {
letter-spacing: 0;
/*letter-spacing: normal;*/
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*width: 1000;
  height: 51px;*/
  font-size: 22px;
  /*letter-spacing: 0%;*/
  text-transform: uppercase;
  
  z-index: 1;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.description__text {
  font-weight: 400px;
  line-height: 28px;
  /*letter-spacing: 0.3em;*/
  word-spacing: 18px;
}

.description__button {
background-color: transparent;
text-align: center;
font-weight: 500px;
line-height: 100%;
border-width: 1px;
border-style: solid;
border-color:#FFFFFF;
width: 256px;
height: 51px;
color: #FFFFFF;
}



/*! */
.lots {
width: 1052px;
height: 723px;
/*top: 1230px;
left: 24px;*/
margin-top: 180px;
margin-left: 24px;
margin-right: 24px;
margin-bottom: 120px;
/*margin-bottom: 173px;*/
background-color: #FFFFFF;

}

.lots__heading {
font-weight: 700px;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
padding-left: 40px;
padding-top: 0px;
padding-bottom: 27px;
/*padding: 180px 0 27px 64px;*/

}

.lots__card-list {
/*height: 100%;*/
display: flex;
flex-direction: row;
gap: 25px;
flex-wrap: wrap;
list-style-type: none;
/*padding-top: 74px;*/
/*padding-bottom: 53px;*/
padding-bottom: 30px;
color: #FFFFFF;
}


.lots__card-list-item {
width: 334px;
min-height: 596px;
/*display: flex;*/
position: relative;

  /*text-align: center;*/
  /*z-index: 1;*/
  /*background-size: cover;*/
white-space: nowrap;
color: #FFFFFF;
  
  }

  .card-link {
  text-decoration: none; 
  height: 100%;
  }

  .card_type_film {
  height: 100%;
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }

.card_type_book {
  height: 100%;
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.card_type_picture {
  height: 100%;
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.card_overlay {
  position: absolute;
  inset: 0;
  color: #000000;
  background-size: cover;
  background:rgb(0,0,0,0.6); 
  }

  .card {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 
}

.lots__cards_title {
  font-weight: 700px;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  z-index: 1;

  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
 
  /*justify-content: flex-start;*/
  color: #FFFFFF;
 
}

.lots__cards_text {
font-weight: 400;
font-size: 20px;
line-height: 120%;
letter-spacing: 0%;
z-index: 1;
/*display: flex;
flex-direction: column;*/
/*justify-content: flex-end;*/
/*justify-self: end;*/
color: #FFFFFF;

padding-bottom: 48px;
padding-left: 40px;
padding-right: 40px;

}


.lots__link_look-more{
height: 100%;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-decoration: underline;
padding-left: 40px;
padding-right: 820px;
padding-bottom: 0px;
}



.about {
  width: 1052px;
  height: 595px;
  
  margin-top: 0px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 180px;
 

 
 /*отступы для секции padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 24px;
  padding-bottom: 25px;*/
  }


  
  .about__content {
    display: grid;
    grid-template-columns: 334px 1fr; 
    /*grid-template-columns: 1fr 1fr 1fr;*/
   grid-template-rows: repeat(3, 198px);
    column-gap: 25px;

    justify-self: center;
  }
    
 
  

  .about__content_title {
    /*grid-column: 2 / 3;
    grid-row: 1 / 2;*/

    font-weight: 700px;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

       padding-top: 130px;
       padding-bottom: 78px;
      /*justify-content: start;*/
     /* align-content: start;*/

    }
    
    .about__content_text {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
   
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;


    }
 
    
  .about__column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: stretch;
  }
  
  

    .about__logo {
      grid-column: 1 / 2;
      grid-row: 1 / 4;

      /*Размещаем контейнер по горизонтальному центру левой колонки согласно ТЗ, положение по оси Y определяем согласно макету*/
      position: relative;
      /* для сдвига элемента вправо на 45px */
      /*right: -45px;*/
      left: 45px;
      /* для сдвига элемента вниз на 29px */
      /*bottom: -29px;*/
      top: 29px;

    
      /*grid-area: about__logo;*/

      /*центрирует элементы внутри ячейки по сетке*/
      justify-items: center;

     /*флекс-контейнер для логотипа*/
      display: flex; 
      justify-content: center;
      align-content: center;

      width: 240px;
      height: 240px;
      background-color: black;   
      background-size: cover;
      display: block;
      border-radius: 50%;
      }
  
      .about__logo-image {
        width: 148px;
        height: 114px;

        display: block;
      }



     
      
 